.input{
    padding: 8px;
    width: 250px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-radius: 5px;
}

.loginForm{
    border: solid 0.1px #ccc;
    width: 300px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px
}

.logindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}