/* *{
    background-color:#9FE2BF;
}

.label{
    align-items: center;
    display: block;
    font-family:serif;
    font-weight:800;
    font-size: 20px;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.input{
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    width: 300px;
    margin-bottom: 10px;
}

button{
    background-color:#2F539B;
    padding: 5px;
    color: white;
    margin: 10px;
    border-radius: 5px;
    border-width: 1px;
    width: 100px;


} */

.sign-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sign-up-form{
    width: 300px;
    padding: 20px;
    bottom: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.input-label{
    display: block;
    margin-bottom: 8px;
    margin-top: 16px;
    font-size: 13px;
}

.input-filed{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.button{
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    columns: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.button:hover{
    background-color: #2980b9;
}


























