.eachCard{
    padding-left: 490px;
   
}

.Card-Image{
    width: 200px;
    height: 150px;
    margin-top: 10px;
    text-align: center;
    object-fit: contain;

    padding-right: 90px;
   
   
}

.EachCard-Item{
    display: flex;
   
    align-items: center;
}